name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1
        with:
          host: givescompliments.com
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /var/www/strange-planet
            git pull
            /var/www/strange-planet/.venv/bin/pip install -e .
            systemctl restart strange-planet
